.memo-game{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablero{
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tarjeta{
    width: calc(25% - 10px);
    height: 150px;
    margin: 5px; 
    background-color: white;
    box-shadow:0 0 10px grey;
    position: relative;
}

.imagen1{
    width: 160px;
    height: 130px;
    margin: 10px;
    margin-left: -10px;
    position: absolute;
}

.imagen2{
    width: 140px;
    height: 130px;
    margin: 10px;
    margin-left: 0px;
    position: absolute; 
}

.transparente{
    opacity: 0;
    transition: 0.5s;
}

.mostrar{
    opacity: 1;
}

.disabled { 
    pointer-events: none;
}

.contenedortarjetas{
    width: 600px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.boxintentos { position: absolute;
    left: 0;
    top: 180px;
    text-align: center;
    margin-left: 20px;
    color: grey
}

